body {

color: white;
background: black;
margin: 0px; }
 header {
border-bottom: solid 2px rgb(42, 122, 228);
padding: 20px;
font-size: 32px;
color: rgb(42, 122, 228);
}
<h1>free fire x round 6</h1>
<p>achei muito boa a parceria so deixava mais tempo as skins</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Pcph6BCCjiY?si=BgnoY3jqF3eMZTOb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
